INSURANCE_API_URL=https://67b30d76-8691-4dd6-84a5-87372deedf47.mock.pstmn.io/sms/services/SPDService
INSURANCE_USER=ELC00001
INSURANCE_PASSWORD=TEST
SFTP_HOST=testtask.serviceorderhub.com
SFTP_USER=serviceorderhub-testtask
SFTP_PASSWORD=T0fSyD1XvZaa4LraZjyX
SFTP_PATH=/home/serviceorderhub-testtask/htdocs/testtask.serviceorderhub.com/dyson